/* common shared styles */
body {
    font-family: 'lato', sans-serif;
    font-family: "Open Sans", sans-serif;
}

.banner {
    /* padding: 300px 600px 300px 600px; */
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    background-position: center;
    /* margin:30px 30px 30px 70px ; */


}

.banner-content {
    text-align: right;
    padding: 330px 300px 300px 600px;
    margin: 150px 150px 150px 300px;
}

.banner-title {
    font-weight: 700px;
    font-size: 100%;

}

.banner-description {
    color: #757575;
}

.btn-primary {
    background-color: #fd6e0a;
    color: white;
    border-radius: 5px;
    border: 0px;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

.about {
    display: flex;
    justify-content: space-between;
}

section li {
    list-style: circle;
}

.portfolio-pic {
    width: 500px;
}